<%- include("partials/header") %>

<div class = "container">
	<div class = "row mt-4">
		<div class = "col-6 show-image-container">
			<img src = "/img/king.jpg"> 
			<div style="padding-top: 2%;">
				<p>
				Hello welcome to this Website my name is Joseph. CEO  of this website, <em>Thank You for visting.</em>
				</p>
				<p>
					Currently i study in 湖南农业大学, in China.
				</p>
			</div>
			<img src = "/img/noda.jpg"> 
			<div style="padding-top: 2%;">
				<p>
					This is my school  湖南农业大学.
				</p>
			</div>
		
		</div>
		<div class = "col-6 show-details-container">
			<h1>
				This Page Explians how to Use this app
			</h1>
			<div>
				<h3>
					Comic app
				</h3>
				<p>
					This website mainly foucs on suggestion specifically movie suggetion. but the main purpuse of the website is like a databse that can store 						your information save place you example you can add you favirote book and to the comic and suggest some one to read it. you can also take and 					give comment from someone, todo that you have to signup and login. if the account is yours you can remove you stored information. but if the 					account that posted this is not you you can not remove the data. and you can give comment to somebody else you can edit and delete your own 					comment but not somebody elses comment .example of information that you can summit is down below
				</p>
				<ul >
				<li><a >Author</a></li>
				<li><a >Title of book or movie or anything </a></li>
				<li><a>Published by </a></li>
				 <li><a >Genre</a></li>
				<li><a >Date  </a></li>
				<li><a>Serius </a></li>
				 <li><a >Issue</a></li>
				<li><a >Image link </a></li>
				<li><a >description </a></li>
			  </ul>
				<P>
					for more informtion go to <a href="/comic">comic</a> page.
				</P>
			</div>
			<h1>
				
			</h1>
		</div>
	</div>
</div>

<%- include("partials/footer") %>
