<%- include("partials/header") %>
<div class ="container-landing" style="background-color: black;">
	<h1 style="color: white;">
		Welcome to comic Website
	</h1>
	<p style="color: white; text-align: center;">
		click any of pictue to start using the app
	</p>
	<div id ="Image-container" >
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top img-darken" src="/img/coding.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top img-darken" src="/img/mac.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top img-darken" src="/img/ai1.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top img-darken" src="/img/avenger.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top img-darken" src="/img/webflow.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top img-darken" src="/img/superhero.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top img-darken" src="/img/pc.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top img-darken" src="/img/books.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top img-darken" src="/img/robot.jpg" alt="pictrue of comic">
			</a>
		</div>
	</div>
	<h3 style="color: white;">
		<a href="/about">
		about page
		</a>
		
	</h3>
	
</div>
<%- include("partials/footer") %>