<%- include("partials/header") %>
<div class ="container" style="background-color: black;">
	<h1 style="color: white;">
		Welcome to comic
	</h1>
	<p style="color: white; text-align: center;">
		click any of pictue to start using the app
	</p>
	<div id ="Image-container" >
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top" src="/img/coding.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top" src="/img/mac.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top" src="/img/king.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top" src="/img/avenger.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top" src="/img/webflow.jpg" alt="pictrue of comic">
			</a>
		</div>
		<div class="images">
			<a href="/comics">
				<img class = "card-img card-img-top" src="/img/superhero.jpg" alt="pictrue of comic">
			</a>
		</div>
	</div>
	<h3 style="color: white;">
		about me 
	</h3>
	
</div>
<%- include("partials/footer") %>